{{!-- <div class="scrape-modal"></div> --}}

<div class="container-fluid">
  <div id="articles">
    {{#if article}}
    {{#each article}}
    <div data-id="{{this._id}}" class="row">
      <div class="card bg-light mb-3 text-center container-fluid">
        <div class="card-header container-fluid">
          <h5>{{this.headline}}</h5>
            </div>
            <div class="card-body container-fluid">
          <h5 class="card-title container-fluid">{{this.summary}}</h5>
          <a target="_blank" href="{{this.link}}">{{this.link}}</a>
          <br>
          <br>
          <a data-id="{{this._id}}" class="btn btn-success save-article" role="button">Save Article</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
</div>


<div class="container-fluid">
  <div class="card bg-light mb-3 text-center container-fluid">
    <div class="card-body container-fluid">
      <h5 class="card-title container-fluid">Oh no! Looks like you don't have any scraped articles.</h5>
      <p class="card-text container-fluid">Why dont't you try scraping some articles first?</p>
      <br>
      <a href="/scrape" class="btn btn-info" role="button">Scrape Articles</a>
      <br>
      <a href="/saved" class="btn btn-info" role="button">Saved Articles</a>
    </div>
  </div>
</div>

{{/if}}