<div class="container-fluid">
  <div id="articles">
    {{#if article}}
    {{#each article}}
    <div data-id="{{this._id}}" class="row">
      <div class="card bg-light mb-3 text-center container-fluid">
        <div class="card-header container-fluid">
          <h5>{{this.headline}}</h5>
            </div>
            <div class="card-body container-fluid">
          <h5 class="card-title container-fluid">{{this.summary}}</h5>
          <a target="_blank" href="{{this.link}}">{{this.link}}</a>
          <br>
          <!-- Button trigger modal -->
          <br>
          <button type="button" class="btn btn-info trigger" data-toggle="modal" data-target="#note-modal" data-id={{this._id}}>Article Notes</button>
          <button type="button" class="btn btn-danger delete" data-target="#note-modal" data-id={{this._id}}>Delete Article</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
</div>


<div class="container-fluid">
  <div class="card bg-light mb-3 text-center container-fluid">
  <div class="card-body container-fluid">
    <h5 class="card-title container-fluid">Oh no! Looks like you don't have any saved articles.</h5>
    <p class="card-text container-fluid">Why dont't you try saving some articles first?</p>
    <a href="/" class="btn btn-info" role="button">Browse Articles</a>
  </div>
</div>
</div>

{{/if}}

<!-- Modal -->
{{#if article}}
{{#each article}}
<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="note-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="note-modal-label">

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ul id="article-list">

      </ul>
      <form>
        <div class="form-group">
          <label for="input-note"></label>
          <input type="text" class="form-control" id="input-note" aria-describedby="input-for-note">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success save-note" data-id={{this._id}}>Save Note</button>
        <button type="button" class="btn btn-danger close-note" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/if}}